button {
  width: 25%;
  height: 40px;
  border-radius: 15px;
  color: black;
  background-color: #f3f3f3;
}

.orange {
  background-color: #fd9910;
  color: white;
}

.active {
  background-color: #fe9e17;
  transform: translateY(2px);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
