.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 15px;

  /* margin-bottom: 10px; */
}

input {
  width: calc(100% - 20px);
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #fd9910;
  border-radius: 15px;
  &:focus {
    outline: none;
    border: 2px solid #fd9910;
  }
}
